body {
    font-family: 'Raleway', sans-serif;
    background: #f5f5f5;
    margin: 0;
}

nav {
    height: 60px;
    background-color: #143b59;
    -webkit-box-shadow: 0 8px 6px -6px #000000;
    -moz-box-shadow: 0 8px 6px -6px #000000;
    box-shadow: 0 8px 6px -6px #000000;
}

.logo {
    font-size: 1.3em;
    font-weight: 600;
    float: left;
    margin-left: 25px;
    line-height: 1em;
}

nav a, #nav_menu {
    float: right;
    color: #bbb;
}

#nav_menu {
    cursor: pointer;
    display: none;
}

nav a {
    margin: 20px 30px 0 0;
    text-decoration: none;
}

nav a:hover, .active {
    color: #f5f5f5;
}

nav span {
    margin-left: 5px;
    font-size: 0.9em;
}

.clear {
    clear: both;
}

footer {
    height: 50px;
    background: #0f2e47;
    margin-top: 20px;
    line-height: 3em;
}

footer a {
    color: #ccc;
    float: right;
    margin-right: 25px;
}

footer span {
    color: #ccc;
    float: left;
    margin-left: 25px;
}

@media screen and (min-width: 320px) and (max-width: 545px) {
    nav {
        height: 50px;
    }

    nav a {
        margin: 15px 30px 0 0;
    }

    .logo {
        margin-left: 10px;
    }

    #nav_menu {
        display: initial;
        margin: 10px 15px 0 0;
        font-size: 1.5em;
    }

    #navigation {
        display: none;
        text-align: center;
        height: 185px;
        width: 100%;
        background-color: #143b59;
        -webkit-box-shadow: 0 8px 6px -6px #000000;
        -moz-box-shadow: 0 8px 6px -6px #000000;
        box-shadow: 0 8px 6px -6px #000000;
    }

    #navigation a {
        width: 90%;
    }

    footer a {
        margin-right: 15px;
        text-decoration: none;
    }

    footer span {
        margin-left: 15px;
    }
}