.wrapper {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    float: left;
    margin: 10px 10px;
    width: 72%;
    height: 420px;
    box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
}

.container-options {
    float: left;
    width: 25%;
}

table {
    margin: 10px 10px;
    border-collapse: collapse;
    width: 95%;
}

table:hover {
    box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ebecfb
}

th {
    background: #153b59;
    color: white;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 685px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .container-options {
        order: 2;
        width: 100%;
    }

    .container {
        order: 1;
        margin: 10px 5px;
        width: 97%;
    }

    footer {
        position: initial;
    }

    table {
        margin: 10px 0;
        width: 97%;
        box-shadow: 2px 2px 3px #bbb;
        -webkit-box-shadow: 2px 2px 3px #bbb;
        -moz-box-shadow: 2px 2px 3px #bbb;
    }
}