.wrapper {
    margin-left: 0.3%;
    margin-top: 10px;
}

.container {
    float: left;
    margin: 0.7% 0 0.7% 0.7%;
    box-shadow: 2px 2px 3px 0 #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
    width: 31.5%;
    height: 260px;
    background: #f5f5f5;
}

.mid {
    margin: 0.7% 1.05% 0.7% 1.75%;
}

.container:hover {
    box-shadow: 2px 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 2px 3px #ccc;
}

.thumbnail img {
    width: 100%;
    height: 220px;
}

.caption {
    line-height: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container-full {
    width: 98%;
    height: 480px;
}

.container-full .thumbnail img {
    width: 100%;
    height: 480px;
}

@media screen and (min-width: 510px) and (max-width: 839px) {
    .wrapper {
        margin-left: 1.2%;
    }

    .container {
        width: 97%;
        margin: 2.5% 0 0.7% 0.7%;
    }
}

@media screen and (min-width: 320px) and (max-width: 509px) {
    .wrapper {
        margin: 5px 0;
    }

    .container {
        margin: 4% 0 0 2px;
        width: 98%;
    }


    .container-full {
        height: 350px;
        overflow-y: hidden;
    }
}