.wrapper {
    margin-top: 10px;
}

.container-options {
    float: left;
    width: 50%;
}

h2 {
    font-size: 1.4em;
}

table {
    margin: 10px 15px;
    border-collapse: collapse;
    width: 95%;
}

table:hover {
    box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ebecfb;
}

th {
    background: #153b59;
    color: white;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 965px) {
    .container-options {
        width: 100%;
    }

    table {
        width: 98%;
        margin: 10px 2px;
        box-shadow: 2px 2px 3px #ccc;
        -webkit-box-shadow: 2px 2px 3px #ccc;
        -moz-box-shadow: 2px 2px 3px #ccc;
    }

    footer {
        position: initial;
    }
}

@media screen and (min-width: 320px) and (max-width: 545px) {
    table {
        font-size: 0.9em;
    }
}