<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Webbr{% endblock %}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href={% static 'webbr/css/fontawesome/css/font-awesome.min.css' %}>
    <link rel="stylesheet" href="{% static 'webbr/css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <div class="logo">
        <a href="{% url 'webbr:index' %}">Webbr</a>
    </div>
    <div id="nav_menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div id="navigation">
        <a href="{% url 'webbr:topic_index' 'movies' %}"
           {% if topic_name == 'movies' %}class="active"{% endif %}><strong><i class="fa fa-camera"
                                                                               aria-hidden="true"></i></strong><span>Movies</span></a>
        <a href="{% url 'webbr:topic_index' 'music' %}" {% if topic_name == 'music' %}class="active"{% endif %}><strong><i
                class="fa fa-music" aria-hidden="true"></i></strong><span>Music</span></a>
        <a href="{% url 'webbr:topic_index' 'politics' %}"
           {% if topic_name == 'politics' %}class="active"{% endif %}><strong><i class="fa fa-address-book"
                                                                                 aria-hidden="true"></i></strong><span>Politics</span></a>
        <a href="{% url 'webbr:trending' %}" {% if topic_name == 'trending' %}class="active"{% endif %}><strong><i
                class="fa fa-fire" aria-hidden="true"></i></strong><span>Trending</span></a>
    </div>
</nav>
<div class="clear"></div>
{% block body %}
{% endblock %}
<div class="clear"></div>
<footer>
    <span>© Webbr 2017</span>
    <a href="#">About</a>
</footer>
<script>
    var menu = document.getElementById('nav_menu');
    var navigation = document.getElementById('navigation');
    menu.addEventListener('click', function () {
        if (navigation.style.display == 'none') {
            navigation.style.display = 'block';
            menu.style.color = '#f5f5f5';
        } else {
            navigation.style.display = 'none';
            menu.style.color = '#bbb';
        }
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
