{% extends 'webbr/base.html' %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'webbr/css/details.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper" align="center">
        <div class="container-options">
            <table>
                <tr>
                    <th>Topic</th>
                </tr>
                {% for topic in all_topic_obj %}
                    <tr>
                        <td><a href="{% url 'webbr:details' topic.pk %}">{{ topic.display_name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="data">
            {% for sentiment in sent %}
                <p class="hidden">{{ sentiment.date }} {{ sentiment.value }}</p>
            {% endfor %}
        </div>
        <p class="hidden" id="name">{{ name }}</p>
        <div class="container" id="container" align=center>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'webbr/js/details.js' %}"></script>
{% endblock %}