{% extends 'webbr/base.html' %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'webbr/css/index.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="container container-full" align=center>
            <a href="trending">
                <div class="thumbnail">
                    <img src="{% static 'webbr/images/oopTrending-2.jpg' %}" alt="Trending">
                </div>
            </a>
        </div>
        <div class="container container-thumbnail" align=center>
            <a href="politics">
                <div class="thumbnail">
                    <img src="{% static 'webbr/images/politics.jpg' %}" alt="Politics">
                </div>
                <div class="caption">
                    <h3>Politics</h3>
                </div>
            </a>
        </div>
        <div class="container container-thumbnail mid" align=center>
            <a href="music">
                <div class="thumbnail">
                    <img src="{% static 'webbr/images/music.jpg' %}" alt="Music">
                </div>
                <div class="caption">
                    <h3>Music</h3>
                </div>
            </a>
        </div>
        <div class="container container-thumbnail" align=center>
            <a href="movies">
                <div class="thumbnail">
                    <img src="{% static 'webbr/images/movies.jpg' %}" alt="Movies">
                </div>
                <div class="caption">
                    <h3>Movies</h3>
                </div>
            </a>
        </div>
    </div>
{% endblock %}