{% extends 'webbr/base.html' %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'webbr/css/trending.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper" align="center">
        <div class="container-options" align="center">
            <h2>Trending India</h2>
            <table>
                <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Date</th>
                </tr>
                {% for trending in trending_india %}
                    <tr>
                        <td>{{ trending.keyword }}</td>
                        <td>{{ trending.value }}</td>
                        <td>{{ trending.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="container-options" align="center">
            <h2>Trending Worldwide</h2>
            <table>
                <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Date</th>
                </tr>
                {% for trending in trending_world %}
                    <tr>
                        <td>{{ trending.keyword }}</td>
                        <td>{{ trending.value }}</td>
                        <td>{{ trending.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}